* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #FFE1C9;
    font-family: 'calibri';
  }
  
  header {
    background:#FFC699;
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }
  
  .menu {
    width: 900px;
    margin: 0 auto;
  }
  
  img {
    width: 100px;
    height: 50px;
    float: left;
    padding: 4px;
  
  }
  
  nav {
    float: right;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 100px;
    padding: 12px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    margin-left: 20px;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h2, h3{
    margin-left: 100px;
}

.control-group{
margin-left: 100px;
margin-bottom: 10px;
}

.controls2{

  margin-top: 40px;
}