* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #FFE1C9;
    font-family: 'calibri';
  }
  
  header {
    background:#FFC699;
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }
  
  .menu {
    width: 900px;
    margin: 0 auto;
  }
  
  img {
    width: 100px;
    height: 50px;
    float: left;
    padding: 4px;
  
  }
  
  nav {
    float: right;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 100px;
    padding: 12px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    margin-left: 20px;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #03658c;
    text-decoration: none;
}

ul {
   list-style-type: none;
}

body {
   font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
   background: #dee1e3;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 40px;
    width: 280px;
}


.my-custom-scrollbar {
    position: relative;
    margin-left: 100px;
    margin-right: 240px;
    height: 200x;
    overflow: auto;
    font-size: 140%;
    margin-top: 40px;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

.control-group{
    margin-left: 100px;
}

.mb-3{
    margin-left: 100px;


}

label{
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 20px;

}